<h1>Exercice sur les services</h1>
<p>Créer un formulaire permettant d'ajouter une personne à une liste</p>
<p>Afficher aussi la liste des personnes déjà enregistré.</p>
<p>Pour chaque nouveau inscrit, on doit avoir :</p>
<ul>
  <li>son nom</li>
  <li>son prénom</li>
  <li>une date naissance</li>
</ul>
<h3>Bonus 1</h3>
<p>C'est une liste pour un réseau social, donc nous ne voulons plus qu'une personne de moins de 13 ans puisse s'inscrire.</p>
<h3>Bonus 2</h3>
<p>Pour chaque persone, on veut au moins 3 séries préférées (juste le nom).</p>

