<h1>Exercice sur les routings</h1>
<p>Maintenant que nous pouvons naviguer entre différents composants, nous pouvons séparer l'exercice présent dn différentes "pages".</p>
<p>Créons 4 composants:
<ul>
  <li>liste des fans (une liste de nom et de prénom)</li>
  <li>détails pour quand on regarde les informations sur une personne</li>
  <li>un formulaire de création d'une nouvelle personne</li>
  <li>un formaulaire de mise à jour</li>
</ul>

<a routerLink="/exo/routing/fan">Vers la liste de fan</a>
